$bg: #110808
$theme: #9c2d1e

html
   --bg: #000000
   --haze: #fff9f9
   --code-bg: #352626

img
    display: block
    margin: 0 auto

img.inline-badge
    display: inline-block
    vertical-align: middle
    margin: 0 0.25rem
    height: 1.25em
    box-shadow: none

img.project-logo
    display: block
    margin: 1em 0
    height: 12em
    box-shadow: 0 4px 8px 0 rgba(69, 241, 173, 0.2), 0 6px 20px 0 rgba(69, 241, 173, 0.19);
